<div class="row">
    <h2 class="text-center">Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h3>Instituto José Manuel Estrada</h3> - <p>(1998-2005)</p></li>
        
            <li> <h3>UNLP - Derecho</h3> - <p>(2006-2008)</p></li>
        
            <li> <h3>Universidad Siglo XXI -Derecho</h3> - <p>(2020- Actualidad)</p></li>
        
            <li> <h3>Argentina Programa -Full Stack Developer</h3> - <p>(2022- 2023)</p></li>
        </ul>
    </div>
</div>