<div class="row">
    <h2 class="text-center">Educación</h2>
    <ul>
        <li><div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg7 part1">
            <p><strong>- Instituto José Manuel Estrada</strong> (1998-2005)</p>
            </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
           <a title="IJME" href=""><img src="" class="img-fluid" id="imagenes"></a>
        </div>
    </div></li>
    <li><div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 part3">
            <p><strong>- UNLP - Derecho</strong> (2006-2008)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part4">
            <a title="UNLP" href=""><img src="" class="img-fluid" id="imagenes"></a>
        </div>
    </div></li>
    <li><div class="conteiner">
        <div class="col-sm-12 col-md-3 col-lg-7 part5">
            <p><strong>- Universidad Siglo XXI</strong> (2020-Actualidad)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part6">
            <a title="UXXI" href=""><img src="" class="img-fluid" id="imagenes"></a>
        </div>
    </div></li>
    <li><div class="conteiner">
        <div class="col-sm-12 col-md-3 col-lg-7 part7">
            <p><strong>- Argentina Programa - Full Stack Developer</strong> (2022-2023)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part8">
            <a title="AP" href=""><img src="" class="img-fluid" id="imagenes"></a>
        </div>
    </div></li>
    </ul>
</div>