.row{
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.table{
    color: black;
}

body{
    background-color: whitesmoke;
    font-family: consolas;
}