<div class="row">
    <h2 class="text-center">Experiencia Laboral</h2>
    <ul>
        <li><div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg7 part1">
            <p><strong>Banco de la Provincia de Buenos Aires</strong> (2010-2015)</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
                <a title="BPBA" href="https://www.bancoprovincia.com.ar/"><img src="../../../assets/BancoProvincia.jpeg" class="img-fluid"></a>
             </div>
            </div></li>
    <li><div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 part3">
            <p><strong>TOT Producciones</strong> (2014-2019)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part4">
            <a title="TOT" href="https://www.instagram.com/tot.producciones/"><img src="../../../assets/TOT.png" class="img-fluid"></a>
        </div>
    </div></li>
    <li><div class="conteiner">
        <div class="col-sm-12 col-md-3 col-lg-7 part5">
            <p><strong>Correo Oficial de la República Argentina</strong> (2019-Actualidad)</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part6">
            <a title="CORASA" href="https://www.correoargentino.com.ar/"><img src="../../../assets/Correo.jpg" class="img-fluid"></a>
        </div>
    </div></li>
    </ul>
</div>