<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-circle-dotted">
            Nueva Experiencia
        </i></button>
    </div>


    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td><h3>{{Experiencia.nombreE}}</h3></td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill"></i></button></td>

                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash3" ></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>