.row{
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}
.table{
    color: black;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: whitesmoke;
    font-family: consolas;
}