<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://web.whatsapp.com/send?phone=5492215698886&text=Buenas!%20%F0%9F%91%8B"><img src="../../../assets/whatsapp.png" id="whatsapp"></a>
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/gonzaemartin87"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://instagram.com/gonzaemartin"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/mail.png" id="mail"></a>
                <button type="button" class="btn btn-outline-light">LOGIN</button>
                <button type="button" class="btn btn-outline-light">Registrarse</button>
        </div>
    </div>
</div>
