.container{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.redes{
    margin-right: 1em;
}
.redes img{
    margin: 0.2em;
}
#logoAP{
width: 150px;
} 
img{
    width: 50px;
}
.btn{
    border-width: medium;
    margin: 0.2em;
}
/*For mobile view*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1em;
        margin-left: 1em;
    }
    .redes img{
        margin: 0.2em;
    }
}
